/* src/index.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'flowbite';
body {
  font-family: 'Roboto', sans-serif; /* Apply the font globally */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500; /* Slightly bolder for headings */
}

button {
  font-family: inherit; /* Ensure buttons inherit the global font */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar-link {
  color: white;
  font-weight: normal;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.navbar-link:hover {
  color: #38bdf8; /* Teal color */
  font-weight: bold;
}
